<div style="
  display: block;
  width: xxWIDTHxx;
  height: xxHEIGHTxx;
  background-color: xxBGCOLORxx;
  border: 4px solid xxCOLORxx;
  border-radius: .5em;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  padding: 6px;
  position: relative;
  font-size: 2.3em;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-bottom: .5em;
  position: relative;
">
  <div style="
    display: block !important;
    height: xxACTIONHEIGHTxx;
    border-bottom: 4px dashed xxCOLORxx;
    padding: 4px 8px 4px 44px;
    display: inline;
    margin-right: 0px;
    position: relative;
  ">
    <div style="
      position: absolute;
      padding: 3px 18px;
      border: 4px solid xxCOLORxx;
      border-radius: 13px;
      transform: rotate(-90deg);
      bottom: -47px;
      left: -42px;
      font-size: 0.8em;
    ">Use&nbsp;&nbsp;If</div>
    xxLABELxx
  </div>
  <div style="
    padding: 8px;
    padding-left: 54px;
  ">
    xxCONTENTxx
  </div>
</div>