<div style="
  display: inline;
  position: relative;
">
  <img src="xxIMAGExx" style="
    width: xxSIZExx;
    height: xxSIZExx;
  ">
    <span style="
      position: absolute;
      top: -.1em;
      left: 0;
      right: 0;
      text-align: center;
      width: xxSIZExx;
      height: xxSIZExx;
    ">
      xxVALUExx
    </span>
  </img>
</div>